@import "./vars";

body {
    background-color: $bodyColor;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    min-height: 100vh;
}



.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}


input[type="text"]{
    border-radius: 2em;
    border: 0.2em solid $greyLight;
}

button {
    border: none;
    border-radius: 2em;
    padding: 0.8em 1.25em;
    background-color: #E0E0E0;
    margin: 1em;
    font-weight: bold;
}

    .btnContainer {
        padding: 1em;
    }

 .btnSuccess {
        color: $textWhite;
        background-color: $greenLight;
        border: 0.1em solid $textWhite;
    }
    
    .btnInactive {
        color: $textBlack;
        background-color: $greyLight;
    }
    
    .btnNormal {
        background-color: $textWhite;
        color: $textBlack;
    }