@import url('https://fonts.googleapis.com/css?family=Montserrat');

$bodyColor: #EBEBEB; 
$textBlack: #212121; 
$greyLight: #E0E0E0; 
$textWhite: #FAFAFA;
$blueLight: #90CAF9;
$blueExtraLight: lighten($blueLight, 20%);
$greenLight: #AED581;
$contentWidth: 80%;